body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

li {
  border: 1px solid gray;
  background: rgb(207, 207, 207);
  padding: 5px;
  margin: 3px;
}
.terminada {
  background: rgb(173, 255, 173);
  color: rgb(56, 87, 56);
  text-decoration: line-through;
}

li > button {
  border: 1px solid red;
  background: red;
  color: white;
  float: right;
}
